<html>
    <head>.
        <meta charset="utf-8">
        <title>Построение графов</title>
    </head>
    <body>
        <form>
            <p><b>Выберите тип графа, который Вы хотите построить.</b></p>
            <p><input name="graph" type="radio" value="person"> Для одного человека </input>
            <input type="text" name="info"></input></p>
            <p><input name="graph" type="radio" value="socium"> Для всего сообщества </input></p>
            <input type="submit" value="Показать результаты"></input>
        </form>
    </body>
</html>
